@charset "utf-8";
@media screen and (max-width: 750px) {
    .pc {
        display: none;
    }

    .concept_pc {
      width: 100vw;
      height: 600px;
      background-image: url("../../images/cafe_sp-comp-assets/concept_image_sp.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 60% 0;
      position: relative;
  }
.concept_pc h2 {
      font-size: 1.25em;
      padding-top: 3.2em;
      text-align: center;
  }

  .concept_pc p {
      line-height: 2.4em;
      font-size: 1em;
      margin: 1.5em auto 0 auto;
      width: 300px;
  }


  .seasonal_bg {
      background-image: url("../../images/cafe_pc-comp-assets/spring_bg-img.jpg");
      width: 100vw;
      background-repeat: no-repeat;
      background-size: cover;
      background-color: rgba(255, 250, 222, 0.6);
      background-blend-mode: color-burn;
  }

  .seasonal_inner_flex {
      display: flex;
      flex-direction: column;
  }

  .order1 {
      order: 2;
  }

  .order2 {
      order: 1;
  }

  .seasonal_inner_flex p {
      font-size: 1.125em;
      margin: 3% auto 2% auto;
  }

  .seasonal_text_right, #seasonal_text_left {
      text-align: center;
      width: 70%;
      margin: 0 auto;
  }

  .seasonal_inner_flex {
      border: solid 2px #f9d1e2;
background-color: #fffade;
border-right: none;
border-left: none;
position: relative;
width: 100vw;
margin: 0 auto;

  }
 
  .seasonal_inner_flex:not(.seasonal_inner_flex_first) {
      margin-top: 7.5vw;
  }

.seasonal_textbox::before {
content: "";
display: inline-block;
width: 1.8em;
height: 1.5em;
background-image: url("../../images/cafe_pc-comp-assets/add_sprite.png");
background-size: 10em;
transform: translateY(0.4em); /* 上下方向の位置を微調整する */
}

#seasonal_head_pc {
color: #f76cb7;
text-align: center;
}

.footer_bg_pc {
      background-image: url("../../images/cafe_sp-comp-assets/footer_bg.jpg");
      background-size: cover;
      width: 100vw;
      background-repeat: no-repeat;
      background-color: rgba(255, 250, 222, 0.5);
      background-blend-mode: color-burn;
  }

  .main_menu_textbox {
      margin-top: 0;
  }

    .concept_icon {
      width: 100px;
      height: 120px;
      background-image: url("../../images/cafe_pc-comp-assets/sample.png");
      background-size: 180px;
      display: inline-block;
      position: absolute;
      top: 0;
     }

#concept_icon_rightTop {
  top: 4%;
  right: 1.8%;
}

#concept_icon_rightBottom {
  transform: rotate(90deg);
  top: 78%;
  right: 5.8%;
}
#concept_icon_leftTop {
  transform: rotate(-90deg);
  top: 1%;
  left: 5.7%;
}
#concept_icon_leftBottom {
  transform: rotate(-180deg);
  left: 2%;
  top: 75%;
}

    header {
        width: 100vw;
        height: 68px;
        background-color: rgba(255, 250, 222, 0.85);
        position: absolute;
        z-index: 10;
    }

    .header_logo_sp img {
      width: auto;
      height: 55px;
      margin-top: 7px;
    }

    #header_message {
      position: absolute;
      top: 34.5px;
	    left: 50vw;
	    transform: translate(-50%, -50%);
      text-align: center;
      color: #674e4e;
      white-space: nowrap;
  }

    .sp_slide {
        position: relative;
       
      img {
        /*　width: 100vw;にするとレイアウト崩れる */
        width: 100%;
        position: absolute;
        transition: 2s ease-in-out;
        opacity: 0;
            }
      
      img.show {
        opacity: 1;
      }
     }
     .nav-wrapper {
        opacity: 0;

        &.fade {
          opacity: 1;
          transition: 0.4s;
          position: absolute;
          top: 0;
          width: 100vw;
          height: 100vh;
          background-color: rgba(255, 250, 222, 0.8);
          z-index: 10;
      }
    }

    .toggle_menu {
      width: 100vw;
      height: 100vh;
      margin-top: 18vw;
    }

    .toggle_main-menu {
      text-align: center;
      line-height: 3.5em;
    }

    #toggle_sub_sweets {
      margin: 0 auto;
    }

#toggle_sub_drink {
}

    .toggle_flex {
      display: flex;
      margin-top: 1.5em;
      margin-top: 1.5em;
      gap: 3em;
justify-content: center;
margin-bottom: 1.5em;
    }

    .decoration_none {
      display: block;
      text-decoration: none;
      border-bottom: solid 0.5px #e5b730;
    }

    .top-concept {
      position: relative;
      width: 80vw;
      margin: 1em auto;

      &::after {
        content: "";
    box-sizing: border-box;
    width: 4px;
    height: 4px;
    border: 7px solid transparent;
    border-left: 7px solid #e5b730;
    position: absolute;
    top: 0.2em;
    right: 0;
    margin-bottom: 1em;
      }
    }

    .toggle_menu-menu {
      margin-left: 20%;
      margin-top: 2em;
      margin-bottom: 1em;
    }

    .standard-seasonal {
      text-align: center;
    }

    #toggle_seasonal {
      margin-top: 1em;
    }

    .shopInfo_button {
      margin: 0 auto;
      width: 10em;
      height: 2.5em;
      background-color: #ddb328;
      border: 0.1em solid #fff;
      border-radius: 0.3em;

      p {
        line-height: 2.5em;
        text-align: center;
      }
    }

    .shopInfo_underline {
      text-decoration: none;
    }

    #toggle_standard {
      margin-bottom: 2vw;
    }

    .triangle {
        width: 5vw;
        height: auto;
        border-top: 0.5em solid transparent;
        border-right: 0.8em solid transparent;
        border-bottom: 0.5em solid  transparent;
        border-left: 0.8em solid #e5b730;
      }

    .menu-trigger.close span:nth-of-type(1) {
      transform: translate(0%, 285%) rotate(40deg);
      transition: 0.4s;
    }
    .menu-trigger.close span:nth-of-type(2) {
      opacity: 0;
      transition: opacity 0.2s;
    }
    .menu-trigger.close span:nth-of-type(3) {
      transform: translate(-2%, -320%) rotate(-40deg);
      transition: transform 0.4s;
    }

    .menu-trigger {
      position: relative;
      float: right;
      z-index: 20;
      top: -54px;
      width: 44px;
      height: 44px;
      border: solid #fff;
      border-radius: 50%;
      background-color: #fff;
      cursor: pointer;
  
    span {
      position: absolute;
      left: 22%;
      width: 55%;
      height: 6%;
      background-color: #e5b730;
      border-radius: 5px;
      z-index: 30;
  
      &:nth-of-type(1) {
        top: 32%;
      }
      &:nth-of-type(2) {
        top: 50%;
      }
      &:nth-of-type(3) {
        top: 68%;
      }
    }
    }

    #scroll_down_sp {
      position: absolute;
      top: 90vw;
      right: 7.5%;
    }

   #scroll_down_sp span {
     position: absolute;
     top: -10vw;
     right: 7.5%;
     font-size: 3vw;
     color: #fffade;
     writing-mode: vertical-rl;
     transform: rotate(180deg);
   }

   #scroll_down_sp::after {
    content: "";
    /*描画位置*/
	position: absolute;
  right: 0.3vw;
    /*線の形状*/
	width: 0.2vw;
	height: 50vw;
	background: #fffade;
    /*線の動き1.4秒かけて動く。永遠にループ*/
	animation: pathmove 2s ease-in-out infinite;
	opacity:0;
   }

   @keyframes pathmove {
    0%{
      height:0;
      top:0;
      opacity: 0;
    }
    30%{
      height:25vw;
      opacity: 1;
    }
    100%{
      height:0;
      top: 50vw;
      opacity: 0;
     }
   }
  
    #header_inner {
      width: 85vw;
      margin: 0 auto;
   }
.concept {
  position: relative;

 img {
    width: 100vw;
  }
}

#seasonal_img_right img, .seasonal_img_left img {
  width: 80vw;
  margin: 0 auto 2.3vw auto;
}

#seasonal_biggerIllust {
  padding-left: 1em;
  padding-top: 1.3em;
  padding-bottom: 1.8em;
}

#seasonal_biggerIllust_combine {
  float: left;
}

#seasonal_head_pc {
  padding-top: 1.2em;
  font-size: 1.5em;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

#seasonal_biggerIllust img {
  width: 6em;
}

#seasonal_biggerIllust_combine {
}

#seasonal_biggerIllust_inner {
  background-image: url("../../images/cafe_pc-comp-assets/add_sprite.png");
  background-repeat: no-repeat;
  width: 30vw;
  height: 50vw;
  background-size:36vw 36vw;
  position: absolute;
  top: -241.4vw;
  left: 17.6vw;
  z-index: 200;
  background-position: 0 -24vw;
}

#seasonal_button_pc {
  height: 6.5em;
}

#seasonal_button_pc a {
  display: block;
  width: 13em;
  background-color: #e5b730;
  text-align: center;
  line-height: 2.5em;
  color: #fff;
  border: solid 0.1em #fff;
  border-radius: 0.3em;
  margin: 3em auto 0 auto;
  font-size: 1em;
  text-decoration: none;
}

.seasonal_img_sp img {
  width: 75vw;
  margin: 1vw auto 2vw auto;
}

.seasonal_img_sp {
  border: solid 2px #f9d1e2;
  border-radius: 1vw;
  background-color: #fffade;
  height: 60vw;
  width: 80vw;
  margin: 0 auto;

  &:nth-of-type(2) {
    line-height: 10vw;
  }
}

#seasonal_flex_sp p {
  font-size: 3.733vw;
  margin-left: 11vw;
  margin-top: 1vw;
  line-height: 7vw;
}

#seasonal_flex_sp {
  display:flex;
  gap: 4%;
  flex-direction: column;
  position: absolute;
  top: 10%;
  width: 100vw;
  height: 180vw;
}

.seasonal_bg_sp img {
  width: 100vw;
  opacity: 0.25;
}

.main_menu_head_pc {
  text-align: center;
  color: #ddb328;
  margin-top: 1.8em;
  font-size: 1.5em;
}

.main_menu_headSub_pc {
  text-align: center;
  margin-bottom: 1vw;
  line-height: 6.5vw;
}

.main_menu_text_color {
  color: #e77506;
}

#sub_menu_list_flex {
  display: flex;
  justify-content: center;
  gap: 30%;
  margin-top: 2%;
  margin-bottom: 1%;
}

.main_menu_icon_pc {
  width: 48vw;
  height: 15vw;
  background-image: url("../../images/cafe_pc-comp-assets/add_sprite.png");
  background-position:0 -5vw;
  background-size: 40vw 40vw;
  background-repeat: no-repeat;
  margin: -3vw auto 0 29vw;
}

.drink_list_pc {
  margin-top: -1vw;
  margin-bottom: 4vw;
}

.sweets_list_pc {
  margin-top: -1vw;
  margin-left: -5em;
}

.drink_list_pc p {
  line-height: 1.8em;
}

.sweets_list_pc p {
  line-height: 1.8em;
}

.drink_sweets_icon_pc p::before {
  content: "";
display: inline-block;
width: 1.7em;
height: 1.8em;
background-image: url("../../images/cafe_pc-comp-assets/add_sprite.png");
background-size: 10em 10em;
background-repeat: no-repeat;
background-position: 0 -5em;
transform: translateY(0.7em);
}

#main_menu_button_pc {
    display: block;
    width: 13em;
    background-color: #e5b730;
    text-align: center;
    line-height: 2.5em;
    color: #fff;
    border: solid 0.1em #fff;
    border-radius: 0.3em;
    margin: 2em auto 3em auto;
    text-decoration: none;

    & p {
      font-size: 1em;
    }
  }

  .main_menu_order1 {
    order: 1;
  }

  .main_menu_order2 {
    order: 2;
  }

  .main_menu_textbox::before {
    content: "";
  display: block;
  height: 3em;
  background-image: url("../../images/cafe_pc-comp-assets/add_sprite.png");
  background-size: 13em 13em;
  background-repeat: no-repeat;
  background-position: 50% -2.3em;
  margin: 0 auto;
  }

  .main_menu_headSub_pc {
   line-height: 2em;
  }

  .main_menu_flex {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .main_menu_order1 {
    order: 1;
  }

  .main_menu_order2 {
    order: 2;
  }

.main_menu_flex img {
  width: 85vw;
  margin: 0 auto;
}

.main_menu_flex p {
  text-align: center;

  &:nth-of-type(3) {
    line-height: 6vw;
    font-size: 3vw;
    margin-top: -5vw;
  }
}

#main_menu_note {
  margin: 4vw auto 3vw auto;
  white-space: nowrap;
  text-align: center;
}

.sub_menu_img_sp {
  position: relative;
}

.sub_menu_flex {
  display: flex;
  justify-content: center;
  gap: 7vw;
}

.sub_menu_img_sp > img:nth-child(1) {
  width: 30vw;
}

.sub_menu_img_sp > img:nth-child(2) {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.sub_menu_img_sp p {
  position: absolute;
  top: 14vw;
  color: #ddb328;
  left: 9.5vw;
  font-size: 5vw;
}

.entrance_img_sp img {
  width: 100vw;
}

.drink_list_flex_sp {
  display: flex;
  justify-content: center;
  gap:20vw;
  margin-top: 1.5vw;
  margin-bottom: 5vw;
}

.sweets_list_pc {
  line-height: 1.8em;
}

.drink_sweets_icon_sp p::before {
  content: "";
  display: inline-block;
  width: 4vw;
  height: 4vw;
  background-image: url("../../images/cafe_pc-comp-assets/add_sprite.png");
  background-size: 25vw 28vw;
  background-repeat: no-repeat;
  background-position: 0 -14vw;
  transform: translateY(1vw);
}

#footer_logo_pc img {
  margin: 0 auto;
  width: 6em;
  padding-top: 2em;
}

/*定休日と火曜日位置固定したい*/
.footer_right_text_head {
  margin-top: 1.5em;
  margin-bottom: 1em;
  text-align: left;
  width: 80%;
}

#tel {
  text-align: center;
  font-size: 1.375em;
  margin-top: 1em;

  & span{
    color: #ddb328;
  }
}

.footer_bg_sp > img {
  width: 100vw;
  opacity: 50%;
}

.footer_bg_sp {
  position: relative; 
}

.footer_logo_sp img {
  width: 18vw;
  margin: 0 auto;
}

.footer_logo_sp {
  width: 100vw;
  margin-top: 10vw;
}

.footer_list_sp {
  position: absolute;
  top: 0vw;
}

.sp #tel {
  font-size: 4.7vw;
  text-align: center;
  margin-top: 6vw;
}

.sp #tel span {
  color: #ddb328;
}

.footer_list_top_sp {
  margin-left: 5vw;
}

.footer_right_text_head::before {
  content: "";
display: inline-block;
width: 1.7em;
height: 1.8em;
background-image: url("../../images/cafe_pc-comp-assets/add_sprite.png");
background-size: 10em 10em;
background-repeat: no-repeat;
background-position: 0 -5em;
transform: translateY(0.7em);
}

.footer_right_text_head_sp {
  margin-left: 44vw;
  margin-top: 7vw;
}

#footer_firstList {
  width: 80%;
  margin: 0 auto;
  text-align: center;

  & li {
    display: flex;
    flex-direction: column;
  }
}

.footer_right_text_head_inner {
  text-align: left;
  display: inline-block;
}

#footer_sub_list_pc {
}

#footer_sub_list_pc_inner {
  clear: both;
  font-size: 0.8em;

  text-align: center;
  padding-top: 2em;

  & li {
    display: inline-block;
    margin-left: 1em;
  }
}

#footer_shopInfo {
  margin-right: 1em;
}

#footer_menu_flex {
  width: 100%;
  margin: 0 auto;
}

#footer_menu_flex li{
  float: left;
  font-size: 0.8em;
  padding-right: 1.25em;
  padding-left: 1.25em;
  line-height: 2.5em;
}

.footer_menu_list_sp:nth-child(2) {
  width: 75%;
  margin: 0 auto;
}

.footer_menu_list_pc {
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;

  &:nth-of-type(2) {
    margin-top: 0.5em;
  }
}

#footer_menu_evening {
}

#footer_menu_drink {
}

#text_access {
}

.footer_info_inner_top {
  margin-top: 1.6vw;
}

#text_Tuesday {
}

#text_time {
  margin-left: 38vw;

}

.footer_text_sp {
  font-size: 2.9vw;
}

footer h3 {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1em;
  font-size: 1em;
}

#footer_flex_sp {
  display: flex;
  justify-content: center;
}

#footer_flex_sp li {
  margin-bottom: 7vw;
}

#footer_flex_sp_left {
  margin-right: 15vw;
  margin-left: -2.5vw;
}

#footer_sub_menu_flex_sp {
  display: flex;
  justify-content: center;
  gap: 10vw;
  margin-top: 3vw;
  margin-left: 6vw;
}

#footer_copyright {
  text-align: center;
margin-top: 1em;
padding-bottom: 2em;
}

#copy {
  text-align: center;
  line-height: 15vw;
}

.drink_list_sp p, .sweets_list_sp p {
  line-height: 8vw;
}

.concept_text_sp {
  width: 100vw;
  height: auto;
}

#menu_head_pc {
  line-height: 1.8em;
  margin: 0.3em 0 0.6em 0;
  text-align: center;
  position: relative;
  font-size: 1.25em;

&::after {
  content: '';
    position: absolute;
    top: 1.7em;
    right: 0;
    left: 0; 
    margin: 0 auto;
    width: 0%;
    height: 0.04em;
    background: #000;
    z-index: -1;
    transition: all 2.5s;
}

&.isActive::after {
  width: 7em;
}
}

/* #seasonal_head_pc {
  position: absolute;
  top: -3vw;
  right: 6vw;
  left: 0;
  margin: 0 auto;
  color: #f76cb7;
  font-size: 5vw;
  text-align: center;
  line-height: 3.8em;
  margin-left: 23%;
} */


#seasonal_message_pc {
  text-align: center;
  margin-top: 4.3em;
  font-size: 0.969em;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  white-space: nowrap;
}

#seasonal_message_sp {
  position: absolute;
  top: 11vw;
  line-height: 1.5em;
  white-space: nowrap; 
  width: 70vw;
  text-align: center;
  margin-left: 23.7vw;
  font-size: 3vw;
}

.seasonal_icon_sp01 {
  width: 3.8vw;
     height: 4vw;
     background-image: url("../../images/cafe_pc-comp-assets/add_sprite.png");
     background-size: 28vw;
     position: absolute;
     top: 3.1vw;
     left: 15vw;
     z-index: 600;
}

.seasonal_icon_sp02 {
  width: 3.8vw;
     height: 4vw;
     background-image: url("../../images/cafe_pc-comp-assets/add_sprite.png");
     background-size: 28vw;
     position: absolute;
     top: 69.1vw;
     left: 15vw;
}

.seasonal_icon_sp03 {
  width: 3.8vw;
     height: 4vw;
     background-image: url("../../images/cafe_pc-comp-assets/add_sprite.png");
     background-size: 28vw;
     position: absolute;
     top: 128.5vw;
     left: 14.5vw;
}

// absolute centering in concept
/*.concept_text_sp h2 {
  position: absolute;
  top: 14vw;
	left: 50%;
	transform : translate(-50%, 0);
  font-size: 3.7vw;
  white-space: nowrap;

   & + p {
    position: absolute;
    top: 24vw;
    left: 50vw;
    white-space: nowrap;
    font-size: 2.6vw;
    line-height: 3em;
    transform : translate(-50%, 0);
    }*/
}