@charset "utf-8";
@media screen and (min-width: 751px) {

   .sp {
       display: none;
   }

   header {
     width: 100vw;
     height: 58px;
     background-color: rgba(255, 250, 222, 0.85);     
     z-index: 100;

    .header_logo_pc img {
      width: auto;
      height: 50px;
      margin-top: 7px;
    }
   }

   .concept_icon {
     width: 25vw;
     height: 18vw;
     background-image: url("../../images/cafe_pc-comp-assets/sample.png");
     background-size: 28vw;
     position: absolute;
     top: 0;
    }

    #scroll_down {
      position: absolute;
      top: 40%;
      right: 7.5%;
      height: 10vw;
    }

   #scroll_down span {
     position: absolute;
     top: -5vw;
     right: 7.5%;
     font-size: 1.5vw;
     color: #fffade;
     writing-mode: vertical-rl;
     transform: rotate(180deg);
   }

   #scroll_down::after {
    content: "";
    /*描画位置*/
	position: absolute;
	top: -18vw;
  right: 0.3vw;
    /*線の形状*/
	width: 0.1vw;
	height: 22vw;
	background: #fffade;
    /*線の動き1.4秒かけて動く。永遠にループ*/
	animation: pathmove 2s ease-in-out infinite;
	opacity:0;
   }

   @keyframes pathmove {
    0%{
      height:0;
      top:0;
      opacity: 0;
    }
    30%{
      height:11vw;
      opacity: 1;
    }
    100%{
      height:0;
      top: 22vw;
      opacity: 0;
     }
   }

   #header_message {
    z-index: 30;
    position: absolute;
    top: 15px;
    right: 57px;
    color: #674e4e;
}

   .pc_slide {
     position: relative;
    
   img {
     /*　width: 100vw;にするとレイアウト崩れる */
     width: 100%;
     position: absolute;
     transition: 2s ease-in-out;
     opacity: 0;
   }
   
   img.show {
     opacity: 1;
   }
  }
  .nav-wrapper {
    display: none;

    .fade {
      display: block; 
    }
  }
  .menu-trigger {
    position: relative;
    float: right;
    z-index: 20;
    top: -46.5px;
    width: 42px;
    height: 42px;
    border: solid;
    border-radius: 50%;
    background-color: #fff;
    color: #fff;

  span {
    position: absolute;
    left: 8px;
    width: 26px;
    height: 2.8px;
    background-color: #e5b730;
    border-radius: 5px;
    z-index: 30;

    &:nth-of-type(1) {
      top: 12px;
    }
    &:nth-of-type(2) {
      top: 20px;
    }
    &:nth-of-type(3) {
      top: 28px;
    }
  }
  }

  #header_inner {
    width: 85vw;
    margin: 0 auto;
    position: relative;
  }

.seasonal_img_pc img {
  width: 38vw;
}

.seasonal_img_left img{
  margin: 2.4vw auto;
}

#seasonal_img_right img {
  margin: 2.4vw auto;
}

.seasonal_text_right {
  text-align: center;
  font-size: 2vw;
  line-height: 4.5vw;
}

#seasonal_icon_031{
  margin-left: 37.5vw;
  margin-top: -20.5vw;
}

#seasonal_icon_032{
  margin-left: 1.3vw;
  margin-top: 14.2vw;
}

.seasonal_icon_03 {
  width: 3.8vw;
     height: 10vw;
     background-image: url("../../images/cafe_pc-comp-assets/add_sprite.png");
     background-size: 28vw;
}

.seasonal_icon {
  width: 3.8vw;
     height: 4vw;
     background-image: url("../../images/cafe_pc-comp-assets/add_sprite.png");
     background-size: 28vw;

  &:nth-of-type(1) {
    margin-left: 37.5vw;
    margin-top: -18vw;
  }

  &:nth-of-type(2) {
    margin-top: 20.3vw;
    margin-left: 1vw;
  }
}

#seasonal_text_right01 p {
  margin-top: 10vw;
}

#seasonal_text_right02 p {
  margin-top: 8vw;
}

#seasonal_text_left p {
  text-align: center;
  font-size: 2vw;
  line-height: 4.5vw;
  margin-top: 10vw;
}

.concept {
  position: relative;

 img {
    width: 100vw;
  }
}

.seasonal_pc {
  position: relative;

#seasonal_biggerIllust img {
  position: absolute;
  z-index: 200;
  top: -137.5vw;
  width: 15.5vw;
  left: 7vw;
}
}

.seasonal_biggerIllust_combine {
  position: relative;

}

#seasonal_biggerIllust_inner_pc {
  background-image: url("../../images/cafe_pc-comp-assets/add_sprite.png");
  background-repeat: no-repeat;
  width: 30vw;
  height: 50vw;
  background-size:29vw 32vw;
  position: absolute;
  top: -133.7vw;
  left: 11.65vw;
  z-index: 200;
  background-position: 0 -24vw;

}

/*
#seasonal {
  position: relative;

  ul {
    display: flex;
    flex-flow: column;
    height: 80%s;
  
  li {
    width: 85%;
    height: 18%;
    background: #fffade;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform : translate(-50%, -50%);
    border: solid 1px pink;

  &:nth-child(1) {
    top: 10%;
    margin-top: 18%;
  }
  &:nth-child(2) {
    top: 30%;
    margin-top: 20%;
  }
  &:nth-child(3) {
    top: 50%;
    margin-top: 22%;
  }
  }
}
}*/

#concept_icon_rightTop {
  top: 1vw;
  left: 79.5vw;
  width: 18vw;
}

#concept_icon_rightBottom {
  transform: rotate(90deg);
  top: 43.5vw;
  left: 72.5vw;
}
#concept_icon_leftTop {
  transform: rotate(-90deg);
  top: -6.2vw;
  left: 2.8vw;
}
#concept_icon_leftBottom {
  transform: rotate(-180deg);
  left: -4.7vw;
  top: 36vw;
}

#menu_head_pc {
  line-height: 1.3em;
  margin: 1.2em 0 1em 0;
  text-align: center;
  position: relative;

&::after {
  content: '';
    position: absolute;
    top: 1.4em;
    right: 0;
    left: 0; 
    margin: 0 auto;
    width: 0%;
    height: 0.05em;
    background: #000;
    z-index: -1;
    transition: all 2s;
}

&.isActive::after {
  width: 8em;
}
}

.seasonal_flex_pc {
  width: 100vw;
  height: 120vw;
  display: flex;
  flex-direction: column;
  gap: 4vw;
  position: absolute;
  top: 20vw;
  z-index: 120;
}

#seasonal_button_pc {
  width: 24vw;
  height: 3.5vw;
  background-color: #e5b730;
  text-align: center;
  line-height: 3.5vw;
  color: #fff;
  border: solid 0.3vw #fff;
  border-radius: 1vw;
  position: absolute;
  bottom: 9vw;
  right: 0;
  left: 0;
  margin: 0 auto;
  font-size: 1.7vw;
}

.seasonal_img_pc {
  width: 85vw;
  height: 30vw;
  border: solid 2px #f9d1e2;
  background-color: #fffade;
  margin: 0 auto;
}

.seasonal_img_left {
  width: 42.5vw;
  height: 30vw;
  background-color: #ddb328;

}

.seasonal_text_right {
  width: 42.5vw;
  height: 30vw;
}

#seasonal_text_left {
  width: 42.5vw;
  height: 30vw;
}

#seasonal_img_right {
  width: 42.5vw;
  height: 30vw;
  background-color: #ddb328;
}

.seasonal_inner_flex {
  display: flex;
}

#seasonal_head_pc {
  position: absolute;
  color: #f76cb7;
  top: 5vw;
  right: 0;
  left: 0;
  text-align: center;
  line-height: 4.5vw;
  font-size: 2.8vw;
}

#seasonal_message_pc {
  position: absolute;
  top: 11vw;
  margin-left: 11.5vw;
  width: 80vw;
  text-align: center;
  font-size: 2vw;
}

.main_menu_headSub_pc, .main_menu_head_pc {
  text-align: center;
}

.main_menu_head_pc {
  color: #ddb328;
  font-size: 2.667vw;
  margin-top: 3vw;
}

.main_menu_headSub_pc {
  line-height: 4vw;
}

.main_menu_flex {
  width: 100vw;
  display: flex;
  justify-content: center;
  gap: 2vw;
}

.main_menu_flex p {
 font-size: 0.8vw;
 line-height: 2.5em;
 white-space: nowrap;
 text-align: center;
 font-size: 1.5vw;
 letter-spacing: 0.05em;
 margin-top: 2.5vw;
}

.main_menu_img_pc img {
  width: 40vw;
  margin-top: -2.5vw;
  display: block;
}

.main_menu_img_pc p {
  white-space: nowrap;
  text-align: center;
}

#main_menu_button_pc {
  width: 17vw;
  height: 3.5vw;
  background-color: #e5b730;
  text-align: center;
  line-height: 3.5vw;
  color: #fff;
  border: solid 0.3vw #fff;
  border-radius: 0.8vw;
  margin: 0 auto;
  font-size: 1.7vw;
}

.main_menu_text_color {
  color: #e77506;
}

#main_menu_note {
  line-height: 10vw;
  margin-left: 5vw;
}

.main_menu_icon_pc {
  width: 32vw;
  height: 3vw;
  background-image: url("../../images/cafe_pc-comp-assets/add_sprite.png");
  background-size: 30vw 30vw;
  background-repeat: no-repeat;
  background-position: 0 -8vw;
  margin-left: 13.5vw;
}

.sub_menu_text {
  color: #ddb328;
}



.main_menu_icon_pc01, .main_menu_icon_pc03 {
  margin-left: 55.5vw;
}

.sub_menu_img_pc img {
  position: absolute;
}

#sub_menu_img_01 img {
  width: 59.813vw;
}

#sub_menu_img_02 img {
  width: 59.980vw;
  height: 24.949vw;
  left: 40vw;
  top: -0.02vh;
}

.sub_menu_combine {
  position: relative;
}

.sub_menu_img_pc {
  position: relative;
  width: 100vw;
}

.sub_menu_img_pc p {
  position: absolute;
  top: 10.5vw;
  font-size: 3vw;

  &:nth-of-type(1) {
   right: 25vw;
  }

  &:nth-of-type(2) {
    left: 25vw;
  }
}

.sub_menu_combine {
  position: relative;
  width: 100vw;
  height: 26vw;
}

#sub_menu_combine_left {
  position: absolute;
  top: 0;
}

#sub_menu_list_flex {
  display: flex;
  justify-content: center;
  gap: 35vw;
}

.entrance_img_pc img {
  width: 100vw;
}

.footer_bg_pc img {
  width: 100vw; 
}

.footer_whole {
  position: relative;
}

.fotter_list {
  position: absolute;
  top: 0;
}

#footer_firstflex_pc {
  display: flex;
  width: 100vw;
  gap: 12vw;
  align-items: center;
  justify-content: center;
  margin-top: 3vw;
}

#footer_logo_pc img {
  width: 18vw; 
  margin-left: 5vw;
}

.footer_menu_list_pc {
  text-align: center;

  &:nth-of-type(2) {
    margin-top: 2vw;
    margin-left: -13.3vw;
  }
}

.footer_menu_list_pc li {
  display: inline-block;
  line-height: 5vw;
  margin-left: 2.3vw;
  margin-right: 2.3vw;
}

footer p {
  font-size: 1.8vw;
}

.footer_bg_pc img {
  opacity: 70%;
}

.footer_menu_list_pc:nth-of-type(1) {
  margin-top: 1.3vw;
}

#footer_sub_list_pc {
  clear: both;
}

.footer_indent_drink_pc {
  text-indent: 1em;
}

.footer_indent_sweets_pc {
  text-indent:0.1em;
}

#footer_menu_head_pc {
  text-align: center;
  line-height: 5vw;
  margin-top: 6vw;
}

.footer_right_text_head {
  margin-top: 3vw;
  margin-bottom: 2vw;

  & + p {
    margin-top: 1vw;
  }

  &::before {
    content: "";
  display: inline-block;
  width: 3.2vw;
  height: 4vw;
  background-image: url("../../images/cafe_pc-comp-assets/add_sprite.png");
  background-size: 22vw 22vw;
  background-position: 0 -10.3vw;
  transform: translateY(0.9vw);
  }
}

#footer_copyright {
  clear: both;
  text-align: center;
  margin-top: 4vw;
}

#footer_sub_list_pc_inner {
  text-align: center;
  margin-top: 6vw;
}

#footer_sub_list_pc_inner li {
  display: inline-block;
  margin-left: 4vw;

} 

#tel {
  margin-top: 3vw;
  font-size: 2.667vw;
}

#tel span {
  color: #ddb328;
}

.drink_list_pc {
  margin-top: -1vw;
  margin-bottom: 4vw;
}

.sweets_list_pc {
  margin-top: -1vw;
}

.drink_list_pc p {
  line-height: 3.5vw;
}

.sweets_list_pc p {
  line-height: 3.5vw;
}

.drink_sweets_icon_pc p::before {
  content: "";
  display: inline-block;
  width: 3vw;
  height: 4vw;
  background-image: url("../../images/cafe_pc-comp-assets/add_sprite.png");
  background-size: 18vw 18vw;
  background-repeat: no-repeat;
  background-position: 0 -8vw;
  transform: translateY(1.1vw);
}

// absolute centering in concept
.concept_text_pc h2 {
  position: absolute;
  top: 5.8vw;
	left: 50%;
	transform : translate(-50%, 0);
  font-size: 3vw;
  white-space: nowrap;
  margin-bottom: 5%;
  letter-spacing: 0.2em;
& + p {
  position: absolute;
  top: 30.5vw;
  left: 50%;
  transform : translate(-50%, -50%);
  white-space: nowrap;
  line-height: 2.5em;
  letter-spacing: 0.2em;
  font-size: 1.8vw;
  }
}
}